.header {
  color: #1ab394;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  overflow-x: scroll;
}

.header::-webkit-scrollbar {
  display: none;
}

.header > img {
  object-fit: contain;
  height: 50px;
}

.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
}

.header__icon > .MuiSvgIcon-root {
  margin: 0 auto;
}

.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto;
  font-size: small;
  transition: 0.7s all ease;
}
.header__icon:hover > p {
  display: inline-flex;
}

.header__icon--active > p {
  display: inline-flex !important;
}
